.search-result {
  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding-top: 20px;
  }

  &__heading {
    margin-bottom: 0;
    color: $govuk-text-colour;
    @include font-style-stack(19px, 30px);

    &--empty {
      font-size: 24px;
    }
  }

  &__parameter {
    display: flex;
    gap: 10px;

    &-label {
      color: $govuk-secondary-text-colour;
      @include font-style-stack(16px, 20px, 700, normal, true);
    }

    &-value {
      color: $govuk-secondary-text-colour;
      @include font-style-stack(16px, 20px, 300, normal, true);
    }
  }

  &__content {
    margin: 0;
    color: $govuk-text-colour;
    @include font-style-stack(16px, 20px, 300, normal, true);

    &--empty {
      @include font-style-stack(19px, 25px, 300, normal, true);
    }
  }

  &__button-group {
    margin-bottom: 25px;
  }

  &__button-group > .govuk-button {
    margin-bottom: 0;
  }
}

.option {
  &-container {
    display: grid;
    grid-template-columns: 0.9fr 1.4fr;
    gap: 10px;
    margin-top: 15px;
  }

  &-group {
    margin-bottom: 20px;
  }

  &-block {
    @include font-style-stack(19px, 25px, 300, normal);
    min-width: auto;
    width: 160px;
  }

  &-label {
    @include font-style-stack(19px, 25px, 300, normal);
    margin-right: 10px;
    display: inline-block;
  }

  &-items {
    @include font-style-stack(19px, 25px, 300, normal);
    min-width: auto;
    width: 80px;
  }
}

.data-container {
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 30px;

  &__heading-l {
    @include font-style-stack(36px, 40px);
    color: govuk-colour("white");
  }

  &__body-l {
    @include font-style-stack(19px, 24px, 300);
    color: govuk-colour("white");
  }

  &__button-group {
    justify-content: center;
  }
}

.filter {
  &-heading {
    @include font-style-stack(24px, 30px);
  }

  &-options-label {
    @include font-style-stack(19px, 25px, 300);
  }

  &-button {
    @include font-style-stack(19px, 25px, 300);
    display: block;
  }

  &-reset {
    @include font-style-stack(19px, 25px, 300);
    color: $gov-defra-color-websafe !important;
  }
}
.govuk-pagination {
  margin-top: 20px;
}
.govuk-pagination__item--current {
  background-color: #00703c;
}
.govuk-link:link {
  color: #00703c;
}
.govuk-link:visited {
  color: #00703c;
}
.govuk-pagination__item--current:hover {
  background-color: #00703c;
}

.govuk-button {
  &--map {
    @include font-style-stack(24px, 32px, 700);
    height: 45px;
    display: inline-flex;
    min-height: auto;
    justify-content: center;
    align-items: center;
  }
}

.map-view-block {
  width: 80%;
  height: 100vh;
}

.filter-view-block {
  width: 20%;
}

.ol-zoom {
  top: calc(100% - 2.9em - 2.75em) !important;
  left: calc(100% - 1.5em - 1.375em) !important;
}

.defra-exit-control {
  @include font-style-stack(24px, 32px, 300, normal, true);
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: govuk-colour("white");
  text-decoration: none;
  color: govuk-colour("black");
  padding: 15px 20px;
  z-index: 1;
  display: flex;
  align-items: center;
}

.defra-controls {
  color: transparent !important;
  background-size: cover;
  width: 2em !important;
  height: 2em !important;
  border-color: transparent !important;
  border-radius: 0px !important;
  background-color: govuk-colour("white");
  cursor: pointer;
}

.defra-zoom-in {
  background-image: url(/assets/images/zoom-in-icon.svg);
}

.defra-zoom-out {
  background-image: url(/assets/images/zoom-out-icon.svg);
}

.defra-refresh {
  &-block {
    bottom: 100px;
    right: 13px;
    display: none;
  }

  &-control {
    background-image: url(/assets/images/refresh-icon.svg);
  }
}

.govuk-checkboxes__input {
  width: 26px;
  height: 26px;
  margin-left: 2px;
  margin-top: 5px;
}

.defra-checkboxes {
  @include font-style-stack(16px, 20px, 300);
  &__label {
    display: flex;
    align-items: center;

    &::before {
      top: 5px;
      width: 28px;
      height: 28px;
    }

    &::after {
      top: 12px;
      left: 7px;
      width: 19px;
      border-width: 0 0 4px 4px;
      height: 10px;
    }
  }
}
