{% extends "layout/template.njk" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "partials/data_questionnaire/macro.njk" import dateQuestionnaire %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: homePageUrl,
        attributes: {
          onclick: "resetStorageData()"
        }
      },
      {
        text: "Questionnaire search",
        href: "#"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <form method="POST" id="{{ dateFormOptions.formId }}" action="{{guidedDateSearchPath}}">
      <form method="POST" action="{{guidedDateSearchPath}}" id="date-form">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-m">
          When was the data or information collected?
        </h1>
          {{ dateQuestionnaire({ fieldLabel: 'From', fieldOptions: fromDate }) }}
          {{ dateQuestionnaire( {fieldLabel: 'To', fieldOptions: toDate }) }}
          <div class="govuk-button-group">
            {{ govukButton({ text: "Skip question", classes: "govuk-button--secondary", href: skipPath, attributes: {
              onclick: "storeFieldsData({formId: '"+dateFormOptions.formId+"', isSkipped: true})"
            } }) }}
            {{ govukButton({ text: "Next question", id: dateFormOptions.submitButtonId, attributes: {
              onclick: "storeFieldsData({formId: '"+dateFormOptions.formId+"'})"
            } }) }}
          </div>
        </div>
      </form>
    </div>
  {% endblock %}

  {% block bodyEnd %}
    {{ super() }}
    <script src="{{ assetPath }}/scripts/browserStorage.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        readStorageData({formId: "{{dateFormOptions.formId}}"});
      });
    </script>
    {{ dynamicSubmitScript | safe }}
  {% endblock %}