.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2a3034;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: govuk-colour("dark-grey");
  padding: 40px;
  border: 5px solid govuk-colour("dark-grey");
  overflow: auto;
}

.modal-content {
  text-align: center;
}
